body {
    padding: 20px;
    font-family: 'Lucida Sans', sans-serif;
}

h1 {
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 2px solid #a3c2dd;
    color: rgb(35, 67, 126);
}

h2 {
    color: blueviolet;
}


nav {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(248, 208, 157);
}

nav h2 {
    color: brown;
}

nav dt,
nav dd {
    margin-top: 8px;
}

nav a {
    text-decoration: none;
    color: brown;
    font-weight: bold;
    transition: 0.3s all ease-in-out;
    padding: 8px;
    border-radius: 5px;
}

nav a:hover {
    color: white;
    background-color: brown;
}

picture img {
    max-width: 50%;
    border-radius: 20px;
}

header h1 {
    text-align: center;
}

nav dl dt {
    padding: 4px
}

section {
    margin: 20px 0;
}

section p {
    text-align: justify;
}

section#frameworks {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

section#frameworks .main {
    width: 80%;
    padding: 10px;
}

section#frameworks aside {
    width: 20%;
    color: black;
    padding: 10px;
    border: 2px solid brown;
    border-radius: 10px;
    background-color: antiquewhite;
}

section#frameworks aside h4 {
    color: brown
}

@media only screen and (max-width: 900px) {
    section#frameworks {
        display: block;
    }

    section#frameworks .main {
        width: 100%;
    }

    section#frameworks aside {
        width: 100%;
    }

}

section#introduction,
section#basics, section#faqs, section#conclusion {
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgb(186, 186, 186);
}

#bootstrap {
    padding: 10px;
    background-color: rgb(240, 237, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #d78ce4 ;
    margin-top: 20px
}

#react {
    padding: 10px;
    background-color: rgb(232, 252, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #8ce3e4;
    margin-top: 20px
}

#angular {
    padding: 10px;
    background-color: rgb(255, 232, 242);
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #e48cb1;
    margin-top: 20px
}

section#faqs dt {
padding: 10px;
font-weight: bold;
}

footer {
    text-align: center;
    font-weight: bold;
}